<%-include('partials/header')-%>

    <div class="post-body">
        <h3>This is simple Blog page where users can add new blogs and delete blogs . </h3>
    </div>


    <%-include('partials/footer')-%>